@page "/"

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<div class="form-group">
    <label for="username">Email:</label>
    <input type="text" id="email" class="form-control" @bind="email" />
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" class="form-control" @bind="password" />
</div>

<button class="btn btn-primary" @onclick="Login">Login</button>

@code {
    private string email;
    private string password;

    private void Login()
    {
        Console.WriteLine("Inicio de sesión exitoso para el usuario: " + email);
    }
}   
